// Just picked randomly, need to check deeper choice

// Source Pro https://fonts.google.com/specimen/Source+Code+Pro
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap");
// Fire Sans https://fonts.google.com/specimen/Fira+Sans
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap");
// Raleway    https://fonts.google.com/specimen/Raleway
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
// Roboto     https://fonts.google.com/specimen/Roboto
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

// --- Imported by <link> ---
// // Open Sans  https://fonts.google.com/specimen/Open+Sans
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
// // Fira Mono  https://fonts.google.com/specimen/Fira+Mono
// @import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");

