@import "./variables";

// Images
.al-image {
  // Image is in covering mode
  // https://css-tricks.com/almanac/properties/o/object-fit/
  &.is-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.al-text-paragraph {
  &:first-of-type {
    margin-top: $base-size;
  }

  &:last-of-type {
    margin-bottom: $base-size;
  }

  & + & {
    margin-top: $base-size/2;
  }
}

.al-input-area {
  width: 100%;
  margin: 0.75 * $base-size 0;

  // Temporary
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: $base-size/2;

  .al-input:not([type="submit"]) {
    padding: 0.75 * $base-size;
  }

  textarea.al-input {
    resize: vertical;
  }
}
