// ----------------------------------------------------------------------------
//  Sizing
// ----------------------------------------------------------------------------

$base-size: 16px;

$font-size-s: 0.75rem;
$font-size-m: 1rem;
$font-size-l: 1.25rem;
