// Z-Index
$z-index-modal: 500 !default;
$z-index-tooltip: 400 !default;
$z-index-alert: 350 !default;
$z-index-dropdown: 250 !default;
$z-index-header-navigation: 200 !default;
$z-index-header: 160 !default;
$z-index-select: 100 !default;
$z-index-content: 10 !default;
